In [3]:
from ludwig import LudwigModel
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("/home/jesse/Documents/Machine Learning/Disease Prediction System/Datasets/hepatitis.csv")

In [5]:
x_train, y_train = train_test_split(df, test_size=0.3)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 20 columns):
class             142 non-null int64
age               142 non-null int64
sex               142 non-null int64
steroid           142 non-null int64
antivirals        142 non-null int64
fatigue           142 non-null int64
malaise           142 non-null int64
anorexia          142 non-null int64
liver_big         142 non-null int64
liver_firm        142 non-null int64
spleen_palable    142 non-null int64
spiders           142 non-null int64
ascites           142 non-null int64
varices           142 non-null int64
bilirubin         142 non-null float64
alk_phosphate     142 non-null int64
sgot              142 non-null int64
albumin           142 non-null float64
protime           142 non-null int64
histology         142 non-null int64
dtypes: float64(2), int64(18)
memory usage: 22.3 KB

In [36]:
y_train.tail()

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
32,2,35,1,2,2,1,2,2,2,2,2,2,2,2,0.9,58,92,4.3,73,1
9,2,39,1,1,1,2,2,2,1,1,2,2,2,2,1.3,78,30,4.4,85,1
63,1,57,1,2,2,1,1,1,2,2,2,1,1,2,4.1,105,48,2.6,73,1
48,2,39,1,2,2,2,2,2,2,2,2,2,2,2,1.0,85,20,4.0,61,1
65,2,44,1,1,2,1,1,2,2,2,2,2,2,2,1.6,68,68,3.7,61,1

In [9]:
df.shape

(142, 20)

In [10]:
x_train.shape

(99, 20)

In [11]:
y_train.shape

(43, 20)

In [8]:
model_definition = {
    'input_features':[
        {'name':'age','type':'numerical'},
        {'name':'steroid','type':'category'},
        {'name':'antivirals','type':'category'},
        {'name':'fatigue','type':'category'},
        {'name':'malaise','type':'category'},
        {'name':'anorexia','type':'category'},
        {'name':'liver_big','type':'category'},
        {'name':'liver_firm','type':'category'},
        {'name':'spleen_palable','type':'category'},
        {'name':'spiders','type':'category'},
        {'name':'ascites','type':'category'},
        {'name':'varices','type':'category'},
        {'name':'bilirubin','type':'numerical'},
        {'name':'alk_phosphate','type':'numerical'},
        {'name':'sgot','type':'numerical'},
        {'name':'albumin','type':'numerical'},
        {'name':'protime','type':'numerical'},    
    ],
    'output_features':[
        {'name':'histology','type':'category'}
    ]
}

In [10]:
print("Creating Model")
model = LudwigModel(model_definition)

print("Training Model")

# for run_1 i used this
# train_stats = model.train(data_df=df)

train_stats = model.train(data_df=x_train)

Creating Model
Training Model

/home/jesse/anaconda3/lib/python3.7/site-packages/ludwig/features/numerical_feature.py:63: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  np.float32).as_matrix()

In [33]:
model = LudwigModel.load("/home/jesse/Documents/Machine Learning/Disease Prediction System/Hepatitis/results/_run_0/model")

In [37]:
useForTest = pd.read_csv("/home/jesse/Documents/Machine Learning/Disease Prediction System/Deploment/hepatitis.csv")
useForTest.info()
predictions = model.predict(useForTest)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 17 columns):
age               1 non-null int64
steroid           1 non-null int64
antivirals        1 non-null int64
fatigue           1 non-null int64
malaise           1 non-null int64
anorexia          1 non-null int64
liver_big         1 non-null int64
liver_firm        1 non-null int64
spleen_palable    1 non-null int64
spiders           1 non-null int64
ascites           1 non-null int64
varices           1 non-null int64
bilirubin         1 non-null float64
alk_phosphate     1 non-null int64
sgot              1 non-null int64
albumin           1 non-null float64
protime           1 non-null int64
dtypes: float64(2), int64(15)
memory usage: 216.0 bytes

In [39]:
predictions.head()

,histology_predictions,histology_probabilities_<UNK>,histology_probabilities_2,histology_probabilities_1,histology_probability
0,1,6.798663e-08,0.04293,0.957069,0.957069