In [2]:
from ludwig import LudwigModel
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("/home/jesse/Documents/Machine Learning/Disease Prediction System/Datasets/hepatitis.csv")

In [4]:
x_train, y_train = train_test_split(df, test_size=0.3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 20 columns):
class             142 non-null int64
age               142 non-null int64
sex               142 non-null int64
steroid           142 non-null int64
antivirals        142 non-null int64
fatigue           142 non-null int64
malaise           142 non-null int64
anorexia          142 non-null int64
liver_big         142 non-null int64
liver_firm        142 non-null int64
spleen_palable    142 non-null int64
spiders           142 non-null int64
ascites           142 non-null int64
varices           142 non-null int64
bilirubin         142 non-null float64
alk_phosphate     142 non-null int64
sgot              142 non-null int64
albumin           142 non-null float64
protime           142 non-null int64
histology         142 non-null int64
dtypes: float64(2), int64(18)
memory usage: 22.3 KB

In [6]:
y_train.head()

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
58,2,32,1,2,2,1,1,1,2,2,2,1,2,1,3.5,215,54,3.4,29,1
85,1,42,1,1,2,1,1,1,2,2,1,1,2,1,4.6,105,55,3.3,61,2
127,2,38,1,2,2,2,2,2,2,1,2,1,2,1,1.6,130,140,3.5,56,2
139,2,61,1,1,2,1,1,2,1,2,2,1,2,2,0.8,75,20,4.1,61,2
84,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.9,230,117,3.4,41,2

In [7]:
df.shape

(142, 20)

In [8]:
x_train.shape

(99, 20)

In [9]:
y_train.shape

(43, 20)

In [10]:
model_definition = {
    'input_features':[
        {'name':'age','type':'numerical'},
        {'name':'steroid','type':'binary'},
        {'name':'bilirubin','type':'numerical'},
        {'name':'alk_phosphate','type':'numerical'},
        {'name':'sgot','type':'numerical'},
        {'name':'albumin','type':'numerical'},
        {'name':'protime','type':'numerical'},    
    ],
    'output_features':[
        {'name':'class','type':'binary'}
    ]
}

In [11]:
print("Creating Model")
model = LudwigModel(model_definition)

print("Training Model")

# for run_1 i used this
train_stats = model.train(data_df=df)

#train_stats = model.train(data_df=x_train)

Creating Model
Training Model
WARNING:tensorflow:From /home/jesse/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

/home/jesse/anaconda3/lib/python3.7/site-packages/ludwig/features/numerical_feature.py:63: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  np.float32).as_matrix()
/home/jesse/anaconda3/lib/python3.7/site-packages/ludwig/features/binary_feature.py:62: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  np.bool_).as_matrix()
WARNING:tensorflow:From /home/jesse/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

WARNING:tensorflow:From /home/jesse/anaconda3/lib/python3.7/site-packages/ludwig/features/binary_feature.py:180: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

WARNING:tensorflow:From /home/jesse/anaconda3/lib/python3.7/site-packages/ludwig/features/binary_feature.py:180: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [17]:
model = LudwigModel.load("/home/jesse/Documents/Machine Learning/Disease Prediction System/Hepatitis/results/_run_4/model")

In [18]:
useForTest = pd.read_csv("/home/jesse/Documents/Machine Learning/Disease Prediction System/Deploment/hepatitis.csv")
useForTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
age              1 non-null int64
steroid          1 non-null int64
bilirubin        1 non-null float64
alk_phosphate    1 non-null int64
sgot             1 non-null int64
albumin          1 non-null float64
protime          1 non-null int64
dtypes: float64(2), int64(5)
memory usage: 136.0 bytes

In [19]:
predictions = model.predict(useForTest)

INFO:tensorflow:Restoring parameters from /home/jesse/Documents/Machine Learning/Disease Prediction System/Hepatitis/results/_run_4/model/model_weights

INFO:tensorflow:Restoring parameters from /home/jesse/Documents/Machine Learning/Disease Prediction System/Hepatitis/results/_run_4/model/model_weights

In [20]:
predictions.head()

   class_predictions  class_probabilities
0               True                  1.0

In [16]:
df.head()

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.0,61,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.9,135,42,3.5,61,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.0,61,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.0,105,200,4.0,61,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.9,95,28,4.0,75,1