In [19]:
from ludwig import LudwigModel
import pandas as pd
from sklearn.model_selection import train_test_split

In [20]:
df = pd.read_csv("/home/jesse/Documents/Machine Learning/Disease Prediction System/Datasets/heart-disease-uci/heart.csv")

In [3]:
X_train, y_train = train_test_split(df, test_size=0.3)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [22]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
df.shape

(303, 14)

In [8]:
X_train.shape

(212, 14)

In [9]:
y_train.shape

(91, 14)

In [10]:
X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2,0
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2,1
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3,0

In [23]:
model_definition = {
    'input_features':[
        {'name':'age', 'type':'numerical'},
        {'name':'trestbps','type':'numerical'},
        {'name':'restecg','type':'binary'},
        {'name':'thalach','type':'numerical'},
        {'name':'exang','type':'numerical'},
        {'name':'oldpeak','type':'binary'},
        {'name':'slope','type':'numerical'},
        {'name':'ca','type':'category'},
        {'name':'thal','type':'category'},
    ],
    'output_features': [
        {'name': 'target', 'type': 'binary'}
    ]
}

In [24]:
print("Creating Model")
model = LudwigModel(model_definition)
print('training model')

# train_stats = model.train(data_df=X_train)

train_stats = model.train(data_df=df)

Creating Model
training model

/home/jesse/anaconda3/lib/python3.7/site-packages/ludwig/features/numerical_feature.py:63: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  np.float32).as_matrix()
/home/jesse/anaconda3/lib/python3.7/site-packages/ludwig/features/binary_feature.py:62: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  np.bool_).as_matrix()

In [25]:
#ludwig visualize --visualization learning_curves --training_statistics training_statistics.json

In [59]:
model = LudwigModel.load("/home/jesse/Documents/Machine Learning/Disease Prediction System/HeartDisease/results/_run_0/model")

In [60]:
test = pd.read_csv('/home/jesse/Documents/Machine Learning/Disease Prediction System/Deploment/heart.csv')
test.info()
# predictions = model.predict(y_train)
predictions = model.predict(test)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
age         1 non-null int64
trestbps    1 non-null int64
restecg     1 non-null int64
thalach     1 non-null int64
exang       1 non-null int64
oldpeak     1 non-null int64
slope       1 non-null int64
ca          1 non-null int64
thal        1 non-null int64
dtypes: int64(9)
memory usage: 152.0 bytes
INFO:tensorflow:Restoring parameters from /home/jesse/Documents/Machine Learning/Disease Prediction System/results/_run_0/model/model_weights

INFO:tensorflow:Restoring parameters from /home/jesse/Documents/Machine Learning/Disease Prediction System/results/_run_0/model/model_weights

In [61]:
print(predictions)

   target_predictions  target_probabilities
0                True              0.989911

In [17]:
# print("Score:", model.Score(X_train, y_train))

In [53]:
predictions.head()

   target_predictions  target_probabilities
0               False               0.33567

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [55]:
df.shape

(303, 14)